@(title: String)

@main(title) {

<div class="hero-unit">

  <h1>Upload Census Data!</h1>

  <p>
  This tool will let you upload US Census data into MapYourNeighborhood.  Use the data from <a href="http://www.census.gov/geo/www/ua/ualists_layout.html">here</a>.
  </p>

  <p>
    @helper.form(action = routes.Importer.upload, 
                 'enctype -> "multipart/form-data", 
                 'id -> "frmUpload",
                 'target -> "ifrProgress") {
    
      <input type="file" id="fileCensus" name="census-data" class="hidden">
      <div class="input-append">
        <input id="txtFileCensus" class="input-large" type="text">
        <a class="btn" id="aFakeFileBtn">Browse</a>
      </div>

      <p>
        <input type="submit" class="btn btn-primary">
      </p>

    }
    
    <div id="divProgress" class="hidden" style="height:0;">
      <h5>Processing <span id="spNumItems">0</span> items.</h5>
    </div>

  </p>

  <iframe id="ifrProgress" class="hidden">
    <script type="text/javascript">
      var data = {};
    </script>
  </iframe>

  <script type="text/javascript">
    $(document).ready(function () {
      // Set up fake file button events
      $('#aFakeFileBtn').on('click', function(event) {
        $('input[id=fileCensus]').click();
      });

      $('input[id=fileCensus]').change(function () {
        $('#txtFileCensus').val($(this).val());
      });

      // Handle submit behavior to show progress indicators
      $('#frmUpload').on('submit', function(event) {
        // Disable form submission button
        $('input[type=submit]', this).attr('disabled','disabled');

        // Show progress counter
        $('#frmUpload').slideUp('fast', function () {
          $('#divProgress').removeClass('hidden').slideDown('fast');
        });

        // Show progress table
        $('#tblProgress').removeClass('hidden');
      });

      numItems = 0;
      $spNumItems = $('#spNumItems');
    });

    function addEntryToTable(newEntry)  {
      var json = $.parseJSON(newEntry);
      var $tbl = $('#tblProgress');
      var $tbody = $('tbody', $tbl);

      var $tr = $('<tr/>');
      var tblCells = [];

      tblCells.push($('<td/>').html(json['uace']));
      tblCells.push($('<td/>').html(json['name']));
      tblCells.push($('<td/>').html(json['pop']));
      tblCells.push($('<td/>').html(json['hu']));
      tblCells.push($('<td/>').html(json['arealandsqmi']));

      for (var $td in tblCells) {
        $tr.append(tblCells[$td]);
      }

      $tbody.append($tr);

      $spNumItems.html(++numItems);
    }
  </script>

</div>

<table id="tblProgress" class="table table-condensed hidden">
  <thead>
    <tr>
      <th>UACE</th>
      <th>Name</th>
      <th>Population</th>
      <th>Housing Unit Count</th>
      <th>Land Area (sq. mi.)</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

}
